.App {
  text-align: center;
  background-color: rgba(238, 238, 238, 0.906);
  font-size: 1.3rem;
  color: rgba(31, 31, 31, 0.927);
  /* line-height: 5.2rem; */
  /* font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

h4.ui.header {
  font-size: 1.3rem;
  /* color: rgb(21, 204, 204); */
}

.ui.secondary.pointing.menu {
  border-bottom: none;
}

div.header {
  color: rgba(23, 168, 158, 1) !important;
}

div.title {
  color: rgba(50, 50, 50, 0.927) !important;
}

.black.large.icon {
  color: rgba(31, 31, 31, 0.927) !important;
}

.top.attached.label {
  color: rgba(23, 168, 158, 1) !important;
}

/* .form-field {
    height: 100%;
} */
.ui.form input[type=text] {
  /* height: 50px;
  width: 100%; */
  /* display: inline-block !important;
  text-align: start !important;
  text-rendering: auto !important;
  flex-direction: column !important;
  overflow-wrap: break-word !important;
  white-space: pre-wrap !important; */
}

.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.name {
  /* position: absolute; */
  top: 40%;
  align-self: center;
  text-align: left;
  margin-left: 4%;
  /* font-size: 5vw; */
  color: white;
}

/* .nav-selector {
  background-color: blue;
} */

/* .test {
    margin: 0 auto;
    width: 80%;
    height: 70%;
} */

@media only screen and (max-width: 767px) {
  /* .main {
    margin-top: 35%;
  } */
  /* .test {
    margin: 0 auto 15%;
    width: 80%;
    height: 70%;
  } */
  .background {
    height: 50vh;
  }
  .name-container {
    margin-top: 6% !important;
    margin-bottom: 6% !important;
  }
  .description-container {
    width: 70% !important;
  }
  .nav {
    position: relative !important;
  }
}

@media only screen and (max-width: 590px) {
  .main {
    /* margin-top: 45%; */
    /* height: 50%; */
  }
    /* .test {
      margin: 0 auto 15%;
      width: 80%;
      height: 70%;
      object-fit: scale-down;
    } */
}

@media only screen and (max-width: 490px) {
  .main {
    /* margin-top: 55%; */
  }
    /* .test {
      margin: 0 auto 20%;
      width: 80%;
      height: 70%;
      
    } */
}

@media only screen and (max-width: 390px) {
  /* .main {
    margin-top: 65%;
  }

  .test {
    margin: 0 auto 25%;
    width: 80%;
    height: 90%;
  } */
}