.App {
  text-align: center;
  background-color: black;
  /* font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.background {
  width: 100vw;
  /* height: 30vh; */
}

.name {
  /* position: absolute; */
  top: 40%;
  align-self: center;
  font-size: 5vw;
  color: white;
}