.App {
  text-align: center;
  background-color: rgba(238, 238, 238, 0.906);
  font-size: 1.3rem;
  color: rgba(31, 31, 31, 0.927);
  /* line-height: 5.2rem; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
}

body div {
  font-family: 'Raleway', sans-serif !important;
}

h4.ui.header {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 100 !important;
  /* color: rgb(21, 204, 204); */
}

.ui.secondary.pointing.menu {
  border-bottom: none;
}

div.header {
  color: rgba(23, 168, 158, 1) !important;
}

div.title {
  color: rgba(50, 50, 50, 0.927) !important;
}

.black.large.icon {
  color: rgba(31, 31, 31, 0.927) !important;
}

.top.attached.label {
  color: rgba(23, 168, 158, 1) !important;
}

.ui.card>.content {
  min-height: 140px;
}

/* .contact-descripion {
  font-size: 1.9rem !important;
} */

.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.name {
  /* position: absolute; */
  top: 40%;
  align-self: center;
  text-align: left;
  margin-left: 4%;
  /* font-size: 5vw; */
  color: white;
}

@media only screen and (max-width: 767px) {
  /* .main {
    margin-top: 35%;
  } */
  /* .test {
    margin: 0 auto 15%;
    width: 80%;
    height: 70%;
  } */
  .background {
    height: 50vh;
  }
  .name-container {
    margin-top: 5% !important;
    margin-bottom: 3% !important;
    font-size: 4.8rem !important;
  }
  .description-container {
    width: 80% !important;
    line-height: 2.8rem !important;
    font-size: 2.8rem !important;
  }
  .nav {
    position: relative !important;
  }
}
